<h1>Welcome in the world of Angular </h1>
<div>
<h2>Countries</h2>
 <ul>
   <li *ngFor="let country of countryList; let i=index">
    <input #countries type="checkbox" id="countr{{i}}" value="{{country}}" (change)="getSelectedCountries()" title="{{country}}"> <label id="lbl{{i}}" for="countr{{i}}">{{country}}</label>
   </li>
 </ul>
</div>
<div>
  <h2>Selected Countries </h2>
  <ul>
  <li *ngFor="let country of selecedCountries; let i=index">
    <strong>{{country}}</strong>
   </li>
  </ul>
</div>

<footer>
  <span class="blinking"><h1>Please <strong>Subscribe | Share | Comments</strong></h1></span>
</footer>
